{% extends 'AcuEasy/user_base2.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block body %}

<style>
    h1 {
  color:#280a7c;
}
</style>



<h1 align="center">CONTACT US !!!</h1>
<hr>
<br>


    <!-- Contacts -->
    <div class="headline">
        <h4>AcuEasy Corporation-India </h4>
    </div>
    <ul class="list-unstyled who margin-bottom-30">
        <li><a href="#"><i class="fa fa-home"></i> Priyanka Collections Building Vikas Mitra Mandal Chowk Road Near Karve Nagar Stop, Maharashtra 411052,India)</a></li>
        <li><a href="#"><i class="fa fa-envelope"></i> care@acueasy.com</a></li>
        <li><a href="#"><i class="fa fa-phone"></i> 076200 28932</a></li>
        <li><a href="#"><i class="fa fa-clock-o"></i> (Mon-Fri, 11:00am to 6:00pm)</a></li>
    </ul>

{% endblock %}