{% extends 'AcuEasy/user_base2.html' %}
{% load static %}

{% block title %}Product Verification{% endblock %}

{% block body %}

<style>
  h1 {
    color: #280a7c;
    align="center"
  }
</style>
<h1 align="center">ABOUT US !!!</h1>
<hr>
<br>
<h4><b>About AcuEasy</b></h4>
<br>
Welcome to AcuEasy, one of the best Indian online auction shopping venues on the Net! This web site is owned and
  operated by AcuEasy Corporation.
  We are also operating online website where You can buy different type of products and properties ever lowest prices
  in india.
  AcuEasy.com is a new exciting auction website where you can win branded factory sealed new products at huge
  discounts. Look at our homepage to see what products are up for auction right now, and if something seems
  interesting, why not bid for it!

  AcuEasy gives an opportunity to those people who can't afford to purchase costly branded products, they can try our
  risk free auctions to win their desired products like Cars, Bikes, Smartphones, Laptop as well as properties like
  Houses and Lands.

  We will do our very best to provide you with great merchandise at the best possible price. We think you will find
  that mixing online auction competition into the "joy of shopping" makes it all even more fun at AcuEasy.
  <br><br>
<h4><b>Our Values</b></h4>
<ul>
  <li>
    Our main goal is giving fun to online shopping. We aim to achieve this objective through..
  </li>
  <li>
    An ethical bidding environment for our customers
  </li>
  <li>
    Accurate product and pricing information
  </li>
  <li>
  Quick responses to customer inquiries and problems
  </li>
  <li>
    Highest standards for our customer’s privacy
  </li>
  <li>
    Constant innovation and development of new features
  </li>
  <li>
    Long-term relationship with our suppliers and partners
  </li>

</ul>

{% endblock %}